In [1]:
# loading the required libraries
import pandas as pd
import numpy as np

In [3]:
# loading the dataset
autolib = pd.read_csv('Autolib_dataset (2).csv')

In [4]:
# snip view of the data
autolib.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [5]:
# information about the data
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [6]:
# Dropping columns
# Reason: May not be useful in our analysis
autolib = autolib.drop(['Cars', 'Charging Status', 'Scheduled at', 'Displayed comment', 'Status', 'Kind'], axis=1)

In [7]:
#Combining year, month, day, hour and minutes colums to create datetime
autolib['year'] = autolib['year'].astype(str)
autolib['month'] = autolib['month'].astype(str)
autolib['day'] = autolib['day'].astype(str)
autolib['hour'] = autolib['hour'].astype(str)
autolib['minute'] = autolib['minute'].astype(str)

autolib['DateTime'] = autolib['year']+'-'+autolib['month']+'-'+autolib['day']+' '+autolib['hour']+':'+autolib['minute']

autolib['DateTime'] = pd.to_datetime(autolib['DateTime'])

In [8]:
# Dropping the year, month, day, hour, minutes columns
autolib = autolib.drop(['year','month','day','minute','Geo point','Charge Slots'], axis=1)

In [9]:
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   City                 5000 non-null   object
 5   ID                   5000 non-null   object
 6   Postal code          5000 non-null   int64
 7   Public name          5000 non-null   object
 8   Rental status        5000 non-null   object
 9   Slots                5000 non-null   int64
 10  Station type         5000 non-null   object
 11  Subscription status  5000 non-null   object
 12  hour                 5000 non-null   object
 13  DateTime             5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 547.0+ KB

In [10]:
# Checking any missing values
autolib.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
City                   0
ID                     0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Subscription status    0
hour                   0
DateTime               0
dtype: int64

In [11]:
# Removing duplicate values if any
autolib.drop_duplicates()

                                 Address  ...            DateTime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 14 columns]

In [12]:
# Filtering the data
# Focus is on Paris city for the month of April 2018
autolib_paris = autolib[(autolib.City == 'Paris') & (autolib.DateTime >= '2018-04-01') & (autolib.DateTime <= '2018-04-30')]
autolib_paris.head(10)

                               Address  ...            DateTime
0                  2 Avenue de Suffren  ... 2018-04-08 11:43:00
1            145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3               51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4   6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                 8 Boulevard Voltaire  ... 2018-04-06 07:02:00
6                       37 rue Leblanc  ... 2018-04-08 18:20:00
8                34 avenue Jean Moulin  ... 2018-04-02 22:58:00
9         41 boulevard de Rochechouart  ... 2018-04-04 15:02:00
10                      14 rue Censier  ... 2018-04-01 04:39:00
12  6 avenue de la Porte de Champerret  ... 2018-04-05 12:22:00

[10 rows x 14 columns]

In [13]:
# Further filtering out stations that are operational only
autolib_paris = autolib_paris[autolib_paris['Rental status'] == 'operational']
autolib_paris.head(10)

                               Address  ...            DateTime
0                  2 Avenue de Suffren  ... 2018-04-08 11:43:00
1            145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3               51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4   6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                 8 Boulevard Voltaire  ... 2018-04-06 07:02:00
8                34 avenue Jean Moulin  ... 2018-04-02 22:58:00
9         41 boulevard de Rochechouart  ... 2018-04-04 15:02:00
10                      14 rue Censier  ... 2018-04-01 04:39:00
12  6 avenue de la Porte de Champerret  ... 2018-04-05 12:22:00
13               34 avenue Jean Moulin  ... 2018-04-08 21:54:00

[10 rows x 14 columns]

In [14]:
# Sorting the data by station and date for subsequent operations
# The Postal code is unique for each so it has been considered to 
autolib_paris_sorted = autolib_paris.sort_values(by=['Public name','DateTime'], ascending=True)

In [15]:
# Snip view of the data
autolib_paris_sorted.head(10)

                       Address  Bluecar counter  ...  hour            DateTime
710   8 Place du 25 AoÃ»t 1944                1  ...    18 2018-04-01 18:40:00
1891  8 Place du 25 AoÃ»t 1944                4  ...     7 2018-04-02 07:37:00
2312  8 Place du 25 AoÃ»t 1944                2  ...    12 2018-04-02 12:49:00
911   8 Place du 25 AoÃ»t 1944                3  ...     3 2018-04-04 03:10:00
4940  8 Place du 25 AoÃ»t 1944                1  ...    18 2018-04-04 18:48:00
2306  8 Place du 25 AoÃ»t 1944                1  ...    21 2018-04-07 21:18:00
2848  8 Place du 25 AoÃ»t 1944                0  ...     5 2018-04-09 05:23:00
586   8 Place du 25 AoÃ»t 1944                1  ...    20 2018-04-09 20:53:00
4459       6 place Adolphe Max                4  ...    11 2018-04-02 11:01:00
294        6 place Adolphe Max                0  ...    16 2018-04-07 16:47:00

[10 rows x 14 columns]

In [16]:
# Computing usage per station
autolib_paris_sorted['Usage'] = autolib_paris_sorted['Bluecar counter'].diff()

In [17]:
# Viewing the data
autolib_paris_sorted.head(10)

                       Address  Bluecar counter  ...            DateTime  Usage
710   8 Place du 25 AoÃ»t 1944                1  ... 2018-04-01 18:40:00    NaN
1891  8 Place du 25 AoÃ»t 1944                4  ... 2018-04-02 07:37:00    3.0
2312  8 Place du 25 AoÃ»t 1944                2  ... 2018-04-02 12:49:00   -2.0
911   8 Place du 25 AoÃ»t 1944                3  ... 2018-04-04 03:10:00    1.0
4940  8 Place du 25 AoÃ»t 1944                1  ... 2018-04-04 18:48:00   -2.0
2306  8 Place du 25 AoÃ»t 1944                1  ... 2018-04-07 21:18:00    0.0
2848  8 Place du 25 AoÃ»t 1944                0  ... 2018-04-09 05:23:00   -1.0
586   8 Place du 25 AoÃ»t 1944                1  ... 2018-04-09 20:53:00    1.0
4459       6 place Adolphe Max                4  ... 2018-04-02 11:01:00    3.0
294        6 place Adolphe Max                0  ... 2018-04-07 16:47:00   -4.0

[10 rows x 15 columns]

**ANALYSIS**

In [19]:
#QUESTION ONE: Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
autolib_paris_sorted[autolib_paris_sorted.Usage < 0].groupby('hour')['Usage'].sum().sort_values().head(1)

hour
21   -121.0
Name: Usage, dtype: float64

In [18]:
# What is the most popular hour for returning cars?
# Return ---> values greater than 0
# Picking ---> values less than 0
autolib_paris_sorted[autolib_paris_sorted.Usage > 0].groupby('hour')['Usage'].sum().sort_values().head(1)

hour
20    61.0
Name: Usage, dtype: float64

What station is the most popular?

Overall?

At the most popular picking hour?

In [26]:
# Overall most popular station
# The most popular station would be the station with most returns
l = autolib_paris_sorted[autolib_paris_sorted.Usage > 0].groupby('Public name')['Usage'].sum()
l[l == max(l)]

Public name
Paris/Porte de Montrouge/8    17.0
Name: Usage, dtype: float64

In [29]:
# PART B: At the most popular picking hour?
l = autolib_paris_sorted[autolib_paris_sorted.Usage < 0].groupby('Public name')['Usage'].sum()
l[l == min(l)]

Public name
Paris/Porte de Montrouge/8   -20.0
Name: Usage, dtype: float64